.nav{
        
    line-height: 70px;
    text-align: right;

}

.menu{display:none  ;
    text-align: right;
        margin-right: 10px;
    position: fixed;
    right: 40px;
top: 50px;
z-index: 1;
}
    
    .menu a{
        display: block; 
        z-index: 1;
        background-color: black;
        text-align: center;
    }
        #toggle:checked + .menu {
        display: block;
    }

    #toggle{
        display:none ;
    }